.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
#category-list {
  padding: 5px;
}
.sport-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 767px) {
.filter-container {
  margin-left: 50px;
}
}

.no-expense-wrap{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}